body {
  color: rgb(0, 0, 0);
  margin: 0px;
  background-color: rgb(201, 201, 201);
}
.button_add {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  font-size: 35px;
  margin-bottom: 100px;
}
.link-with-favicon {
  display: inline-block;
  width: 48px; /* Kích thước của favicon */
  height: 48px; /* Kích thước của favicon */
  background: no-repeat center center;
  background-size: cover;
  position: relative; /* Đặt vị trí tương đối để pseudo-elements định vị chính xác */
  border-radius: 5px;
}

.link-with-favicon::before {
  content: "";
  width: 47.5px; /* Giữ kích thước tương tự nhau để pseudo-elements phù hợp với phần tử gốc */
  height: 47.5px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: absolute; /* Đặt vị trí tuyệt đối để pseudo-elements nằm trên phần tử gốc */
  top: -2.5px; /* Đảm bảo chúng nằm chồng chính xác lên phần tử gốc */
  left: -2.5px; /* Đảm bảo chúng nằm chồng chính xác lên phần tử gốc */
  transition: transform 1s ease, border 0.5s ease; /* Thêm transform vào transition */
  transform: rotate(0);
  border-radius: 5px;
}
.link-with-favicon::after {
  content: "";
  width: 47.5px; /* Giữ kích thước tương tự nhau để pseudo-elements phù hợp với phần tử gốc */
  height: 47.5px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: absolute; /* Đặt vị trí tuyệt đối để pseudo-elements nằm trên phần tử gốc */
  top: -2.5px; /* Đảm bảo chúng nằm chồng chính xác lên phần tử gốc */
  left: -2.5px; /* Đảm bảo chúng nằm chồng chính xác lên phần tử gốc */
  transition: transform 1s ease, border 0.5s ease; /* Thêm transform vào transition */
  transform: rotate(0);
  border-radius: 5px;
}

.link-with-favicon:hover::before {
  transform: rotate(360deg);
  border: 3px solid red;
  transition: transform 1s ease, border 0.5s ease; /* Thêm transform vào transition */
}

.link-with-favicon:hover::after {
  transform: rotate(-360deg);
  border: 3px solid red;
  transition: transform 1s ease, border 0.5s ease; /* Thêm transform vào transition */
}
header {
  height: 80px;
  background-color: black;
  z-index: 500;
  position: relative;
}
legend {
  width: 100px;
  padding: -10px 10px;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(2.5px);
  color: yellow;
}
#div_main {
  width: 100%;
  height: calc(100% - 160px);
  background-color: rgb(201, 201, 201);
}
fieldset {
  margin: 0 10px;
  width: calc(100%-40px);
  border-radius: 10px;
  background-color: rgb(201, 201, 201);
  padding: 0%;
  border: 2px solid blue;
}
#div_scroll {
  height: 490px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(48px, 1fr));
  grid-gap: 5px;
}
.div_link {
  border: 2px solid blue;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  transition: border 1s ease;
  position: relative;
}
.star {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border: 10px solid rgb(255, 0, 0);
  border-width: 5px;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  right: 0.5px;
  top: 0.5px;
  z-index: 1;
}

.div_link:hover {
  border: 2px solid rgba(255, 255, 255, 0);
}
.div_link:hover > .star {
  border-width: 10px;
}
footer {
  width: 100%;
  height: 80px;
  background-color: black;
  text-align: center;
  color: yellow;
  position: absolute;
  bottom: 0;
  z-index: 500;
}
#whaticon {
  display: block;
  margin: auto;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 5px solid blue;
  border-radius: 15px;
  transform: translateY(10px);
  color: black;
}
#add-link {
  width: 100px;
}
#input-excel {
  border-radius: 10px;
  width: 65px;
  background-color: white;
  font-weight: bold;
  height: 21px;
  position: absolute;
  left: 50%;
  transform: translateX(-75px) translateY(10px);
  z-index: 100;
  padding: 0%;
}
#input-excel2 {
  border-radius: 10px;
  width: 65px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  height: 20px;
  padding: 0%;
}
#mySelect {
  border-radius: 10px;
  width: 65px;
  background-color: white;
  font-weight: bold;
  height: 20px;
}
#select {
  border-radius: 10px;
  width: 65px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  height: 21px;
  position: absolute;
  left: 50%;
  transform: translateX(10px) translateY(10px);
  z-index: 200;
}
#scroll_up {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-20px);
  text-align: center;
  align-items: center;
  padding: 0;
  border-radius: 10px;
}
#scroll_down {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-20px);
  text-align: center;
  align-items: center;
  padding: 0;
  border-radius: 10px;
}

#searchForm {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 10;
}
#searchInput {
  width: 200px;
  border-radius: 10px 0 0 10px;
  margin-right: 0;
  padding-left: 10px;
  caret-color: blue;
  font-weight: bold;
  height: 24.5px;
  border: 2px solid gray;
  position: absolute;
  left: 50%;
  transform: translateX(-120px) translateY(15px);
}
input::placeholder {
  color: gray; /* Màu chữ của placeholder */
  font-style: italic; /* Kiểu chữ của placeholder */
}
input:focus {
  border-color: blue; /* Màu viền khi input được focus */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Hiệu ứng shadow khi input được focus */
}
#btn_tim {
  border-radius: 0 10px 10px 0;
  background-color: white;
  margin-left: -5px;
  padding-left: 12px;
  padding-right: 13px;
  height: 24.5px;
  border: 2px solid gray;
  border-left: none;
  position: absolute;
  left: 50%;
  transform: translateX(85px) translateY(15px);
}
#btn_tim:focus,
#btn_tim:hover {
  background-color: #ccc;
}
#box_ {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  text-align: center;
  z-index: 500;
}

.box {
  width: 300px;
  height: auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 0 15px;
}
#box_2 {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: none;
}
.box2 {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0%;
  z-index: 500;
}
.box2_ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
hr {
  margin: 0;
}
.box2_ul > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.box2_ul > li:last-child {
  color: red;
  font-size: 15px;
}
.box2_ul > li {
  margin-left: 0;
}
#danhdau {
  text-align: right;
  margin: 0 0 0 15px;
}
#class_box2_edit {
  width: 350px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  z-index: 500;
  position: fixed;
  left: calc(50% - 175px);
  top: calc(50% - 75px);
  display: flex;
}
#class_box2_edit > h3 {
  margin-top: 10px;
}
#edit_input {
  display: grid;
  width: 320px;
  grid-template-areas:
    "select link link link"
    "note1 note1 note1 note1"
    "note2 note2 note2 note2";
  margin: auto;
  grid-gap: 5px;
  margin-top: -15px;
}
#class_box2_edit > button {
  width: 100px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  margin-left: 15px;
}
#class_box2_edit > button:nth-child(2n) {
  right: 15px;
  background-color: blue;
  color: white;
}
#class_box2_remove {
  width: 300px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  z-index: 500;
  position: fixed;
  left: calc(50% - 150px);
  top: calc(50% - 75px);
}
#class_box2_remove > button {
  width: 100px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  background-color: red;
  margin-left: 15px;
}
#class_box2_remove > button:nth-child(2n) {
  right: 15px;
  background-color: white;
}
#noteToDelete {
  display: block;
  margin: auto;
  width: 270px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  height: 60px;
  margin-top: -15px;
}

h3 {
  text-align: center;
}
.note {
  margin-top: 10px;
  width: 140px;
}
.btn {
  width: 80px;
  border-radius: 10px;
}
.draggable {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid blue;
  position: fixed;
  bottom: 20%;
  left: 30px;
  top: 5px;
  cursor: move;
  z-index: 501;
  user-select: none; /* Disable text selection */
}

.draggable::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(150, 150, 150);
  position: absolute;
  top: 20px;
  left: -25px;
  border-radius: 50%;
  cursor: move;
  user-select: none; /* Disable text selection */
}
.hover {
  background-color: aqua;
}
.button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0);
  z-index: 400;
  position: absolute;
  top: 15px;
  right: 10px;
}
